.activities__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.activities__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin-top: 50px;
}

.activities__item {
    position: relative;

    &:not(:first-child) {
    margin-left: 30px;
    }
}

.lable {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 4px;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--first-title-color);
}
