.modal-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate (-50%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  @include mq (tablet) {
    display: none;
  }
}

.modal-menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

}

.modal-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__link {
  color: #212121;
  &--current {
    color: var(--accent-color);
  }
}

.modal-menu__contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;

  &-item {
    margin-bottom: 32px;
    &.tel {
      font-size: 34px;
      color: var(--accent-color);
    }
  }

  &-link {
      color: var(--second-text-color);
      }
  }


.socials {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  &__item {
    margin-right: 20px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    &:not(:last-child)::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);
      position: absolute;
      top: 0;
      right: -10px;
    }
  }

  &__link {
    color: var(--accent-color);
  }
}

.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

